[run]
# 覆盖率数据文件路径
data_file = local_analyze_report/coverage/.coverage

# 并行模式
parallel = true

# 分支覆盖
branch = true

# 源代码目录
source = app

[report]
# 排除的文件
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
    if TYPE_CHECKING:

# 精度
precision = 2

[html]
# HTML报告输出目录
directory = local_analyze_report/coverage/htmlcov

[xml]
# XML报告输出路径
output = local_analyze_report/coverage/coverage.xml
