# Python 字节码
__pycache__/
*.py[cod]
*$py.class

# 虚拟环境
.env
.venv
venv/
ENV/
env.bak/
venv.bak/

# IDE
.idea/
.vscode/
*.swp
*.swo

# 操作系统
.DS_Store
Thumbs.db

# 项目特定

# 本地文件夹（以 local_ 开头）
local_*/

# 数据库
*.db
*.sqlite
logs/
# 覆盖率测试数据
.coverage
coverage.xml
htmlcov/

# 临时脚本
local_scripts/
